{% extends "layout.html" %}

{% block content %}

<form action="{{url_for('index')}}" method="POST">
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input name='title'type="text" class="form-control" id="exampleFormControlInput1" placeholder="your topic">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput2">Author</label>
        <input name='author'type="text" class="form-control" id="exampleFormControlInput2" placeholder="your name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput3">Content (character limit 500)</label>
        <textarea name="content" class="form-control" id="exampleFormControlInput3" ></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Date</label>
        <input name="date" type="date" class="form-control" id="exampleFormControlInput1" placeholder="Technology">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<hr>

{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ post[0] }}</a>
            <small class="text-muted">{{ post[3] }}</small>
        </div>
        <h2><a class="article-title">{{ post[1] }}</a></h2>
        <p class="article-content">{{ post[2] }}</p>
        <hr>
        <div>
            <a href="/delete/{{post[4]}}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">Delete</a>
            <a href="/edit/{{post[4]}}" class="btn btn-success btn-sm active" role="button" aria-pressed="true"> Edit </a>
        </div>
    </div>
    
</article>
{% endfor %}

{% endblock content %}